version: "3.9"

services:
  db:
    image: postgres:16
    container_name: ims_db
    restart: always
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    volumes:
      - pgdata:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  backend:
    build: ./backend
    container_name: ims_backend
    restart: always
    env_file:
      - .env  # Use .env file to load environment variables for the backend service
    depends_on:
      - db
    volumes:
      - ./backend/staticfiles:/app/staticfiles
    ports:
      - "8000:8000"

  frontend:
    build: ./frontend
    container_name: ims_frontend
    restart: always
    depends_on:
      - backend
    ports:
      - "3000:3000"

volumes:
  pgdata:
